  <% if @message %>
    <%= @message %>
  <% end %>
  
  <%= form_for :dump, :url=>{:controller=>"locations", :action=>"excel_import"}, :html => { :multipart => true } do |f| %>
  <div>
    Select an Excel File :
      <%= f.file_field :excel_file %>
      <%= submit_tag 'Submit' %>
    <% end %>
  </div>
  <% if @failed_rows && @failed_rows.count > 0 %>
  <ul>
    <% @failed_rows.each do |row| %>
      <li><%= row %></li>
    <% end %>
  </ul>
  <% end %>
  
  <%= link_to "Back", locations_path %>
